body {
    background-color: #38424B;
}

.text {
    text-align-last: center;
    font-size: 15px;
}

.card-title {
    font-size: .85rem;
}

.cant {
    font-size: 20px;
}

.form-text,
small {
    color: rgb(216, 216, 216);
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea,
.title,
label,
input,
h1,
h2,
input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type="text"]:not(.browser-default):disabled,
input[type="text"]:not(.browser-default)[readonly="readonly"],
input[type="password"]:not(.browser-default):disabled,
input[type="password"]:not(.browser-default)[readonly="readonly"],
input[type="email"]:not(.browser-default):disabled,
input[type="email"]:not(.browser-default)[readonly="readonly"],
input[type="url"]:not(.browser-default):disabled,
input[type="url"]:not(.browser-default)[readonly="readonly"],
input[type="time"]:not(.browser-default):disabled,
input[type="time"]:not(.browser-default)[readonly="readonly"],
input[type="date"]:not(.browser-default):disabled,
input[type="date"]:not(.browser-default)[readonly="readonly"],
input[type="datetime"]:not(.browser-default):disabled,
input[type="datetime"]:not(.browser-default)[readonly="readonly"],
input[type="datetime-local"]:not(.browser-default):disabled,
input[type="datetime-local"]:not(.browser-default)[readonly="readonly"],
input[type="tel"]:not(.browser-default):disabled,
input[type="tel"]:not(.browser-default)[readonly="readonly"],
input[type="number"]:not(.browser-default):disabled,
input[type="number"]:not(.browser-default)[readonly="readonly"],
input[type="search"]:not(.browser-default):disabled,
input[type="search"]:not(.browser-default)[readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"],
input:not([type]):disabled+label,
input:not([type])[readonly="readonly"]+label,
input[type="text"]:not(.browser-default):disabled+label,
input[type="text"]:not(.browser-default)[readonly="readonly"]+label,
input[type="password"]:not(.browser-default):disabled+label,
input[type="password"]:not(.browser-default)[readonly="readonly"]+label,
input[type="email"]:not(.browser-default):disabled+label,
input[type="email"]:not(.browser-default)[readonly="readonly"]+label,
input[type="url"]:not(.browser-default):disabled+label,
input[type="url"]:not(.browser-default)[readonly="readonly"]+label,
input[type="time"]:not(.browser-default):disabled+label,
input[type="time"]:not(.browser-default)[readonly="readonly"]+label,
input[type="date"]:not(.browser-default):disabled+label,
input[type="date"]:not(.browser-default)[readonly="readonly"]+label,
input[type="datetime"]:not(.browser-default):disabled+label,
input[type="datetime"]:not(.browser-default)[readonly="readonly"]+label,
input[type="datetime-local"]:not(.browser-default):disabled+label,
input[type="datetime-local"]:not(.browser-default)[readonly="readonly"]+label,
input[type="tel"]:not(.browser-default):disabled+label,
input[type="tel"]:not(.browser-default)[readonly="readonly"]+label,
input[type="number"]:not(.browser-default):disabled+label,
input[type="number"]:not(.browser-default)[readonly="readonly"]+label,
input[type="search"]:not(.browser-default):disabled+label,
input[type="search"]:not(.browser-default)[readonly="readonly"]+label,
textarea.materialize-textarea:disabled+label,
textarea.materialize-textarea[readonly="readonly"]+label {
    color: rgb(255, 255, 255) !important;
}

.card {
    color: rgb(255, 255, 255);
    background-color: #434F5B;
    transition: all 0.25s ease;
    margin: 5px;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2);
}

.tabla,
table {
    border-radius: 5px;
    background-color: #434F5A !important;
}

td,
tr {
    color: rgb(255, 255, 255) !important;
}