body {
    background-color: #38424B;
}

.card-text {
    text-align-last: center;
    font-size: 15px;
}

.card-title {
    font-size: .85rem;
}

.cant {
    font-size: 20px;
}

.form-text,
small {
    color: rgb(216, 216, 216);
}

.title,
label,
h1 {
    color: rgb(255, 255, 255);
}

.card {
    color: rgb(255, 255, 255);
    background-color: #434F5B;
    transition: all 0.25s ease;
    margin: 5px;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
}